.page {
  font-family: var(--font-geist-sans);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.grid_item_side {
  grid-column: 1 / 4;
}

.grid_item_main {
  grid-column: 5 / 12;
}

.main {
  padding: 64px 48px 120px;
}
